<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home Page</title>

    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap-datepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default top-navbar" role="navigation" th:include="nav_bar::top-nav"></nav>
<nav class="navbar-default navbar-side" role="navigation" th:include="nav_bar::side-nav"></nav>

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            板材订单管理
            <small>板材订单明细</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li><a href="#">销售部门</a></li>
            <li class="active">板材销售</li>
        </ol>
    </div>

    <div id="page-inner">
        <div class="panel panel-default">
            <div class="panel-heading">
                基础信息
                <small style="color: red" th:if="!${purchaseOrderGrid.validityCode}">该订单已作废</small>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th style="text-align: center">订单号</th>
                        <th style="text-align: center">客户名称</th>
                        <th style="text-align: center">订货日期</th>
                        <th style="text-align: center">交货日期</th>
                        <!--<th style="text-align: center">合同号</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="purchase-num" th:text="${purchaseOrderGrid.purchaseNum}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'text-align: center;color:red'"></td>
                        <td th:text="${purchaseOrderGrid.customerName}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'text-align: center;color:red'"></td>
                        <td th:text="${purchaseOrderGrid.purchaseTime}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'text-align: center;color:red'"></td>
                        <td th:text="${purchaseOrderGrid.deliverTime}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'text-align: center;color:red'"></td>
                        <!--<td th:text="${purchaseOrderGrid.contractId}" style="text-align: center"></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">产品规格明细</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed" id="dataTables-example">
                        <thead>
                        <tr>
                            <th style="text-align: center">序号</th>
                            <th style="text-align: center">品名</th>
                            <th style="text-align: center">颜色</th>
                            <th style="text-align: center">长（mm）</th>
                            <th style="text-align: center">宽（mm）</th>
                            <th style="text-align: center">厚（mm）</th>
                            <th style="text-align: center">数量（张）</th>
                            <th style="text-align: center">进度</th>
                            <th style="text-align: center">估重（kg）</th>
                            <th style="text-align: center">重量（kg）</th>
                            <!--<th style="text-align: center">单价（元/kg)</th>-->
                            <!--<th style="text-align: center">金额（元）</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="spec,iterStat : ${purchaseOrderSpecGrids}">
                            <td th:text="${iterStat.index+1}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">Onions</td>
                            <td th:text="${spec.patternName}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">Onions</td>
                            <td th:text="${spec.colorName}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td class="length" th:text="${spec.length}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td class="width" th:text="${spec.width}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td class="thickness" th:text="${spec.thickness}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td class="amount" th:text="${spec.amount}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td id="process" th:text="|${spec.completedAmount}/${spec.requiredAmount}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td class="estimate-weight" th:text="${spec.estimateWeight}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <td id="weight" th:text="${spec.weight}" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2.41</td>
                            <!--<td th:text="${spec.price}" style="text-align: center">2.41</td>-->
                            <!--<td id="total-price" th:text="${spec.totalPrice}" style="text-align: center">2.41</td>-->
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th style="text-align: center" colspan="6">合计</th>
                            <th id="total-amount" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'"></th>
                            <th id="total-process" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'"></th>
                            <th id="total-estimate" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'"></th>
                            <th id="total-weight" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'"></th>
                            <!--<th style="text-align: center"></th>-->
                            <!--<th id="sum-price" style="text-align: center"></th>-->
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="panel-footer">

                <button th:if="${purchaseOrderGrid.validityCode}" class="btn btn-sm btn-danger pull-right" data-toggle="modal"
                        data-target="#myModal_cancel"><i class="fa fa-stop "></i>作废
                </button>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal_cancel" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel_cancel">
                                    确认作废吗</h4>
                            </div>
                            <div class="modal-body">
                                请填写作废原因：
                                <input class="form-control" id="obsolate-reason"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                                <button type="button" class="btn btn-danger" id="obsolate">提交申请</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
                <a th:href="@{/market/purchase_order/2mdf(purchaseNum=${purchaseOrderGrid.purchaseNum})}" th:if="${purchaseOrderGrid.validityCode}" class="btn btn-primary btn-sm pull-right" style="margin-right: 20px"><i class="fa fa-cut "></i>修改
                </a>
                <label th:text="|备注:${purchaseOrderGrid.remark}|">备注：xxxxxxxxxxxx</label>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                质量要求
            </div>
            <div class="panel-body" th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;color:red'">
                <small>
                    (1)表面无气泡，印迹等痕迹，板材膜和板材不能脱离，必须通过客户测试要求，否则为次品，<br/>
                    需退回后重新送货补齐，同时由生产部提供不良品书面报告给李总。<br/>
                    (2)订单数量，规格及要求，按照客户订单要求制作，不得有变动，如有变动必须与客户订单一致。<br/>
                    (3)板材质量：需符合出厂检测标准，未达到的不允许出厂。<br/>
                    (4)颜色要求：以客户确认样准，特殊颜色要求，必须要生产确认可以生产后再接单。<br/>
                    (5)订单生产时，颜色根据色号或来样生产，原则上不能有色差，如特殊情况产生的色差,必须及时通知业务与客户确认是否可以使用，再继续生产。<br/>
                    (6)板材规格偏差值：厚度 ±0.10mm  长度 +5mm 宽度 +5mm；<br/>
                    (7)特殊要求：
                </small>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                审批
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th style="text-align: center">主管审批</th>
                            <th style="text-align: center">业务复核</th>
                            <th style="text-align: center">生产复核</th>
                            <th style="text-align: center">制单人</th>
                            <th style="text-align: center" th:if="${purchaseOrderGrid.validityCode}">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'" th:text="${purchaseOrderGrid.supervisorName}"></td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'" th:text="${purchaseOrderGrid.salesmanName}"></td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'" th:text="${purchaseOrderGrid.producerName}"></td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'" th:text="${purchaseOrderGrid.makerName}"></td>
                            <td style="text-align: center">

                                <button class="btn btn-primary btn-sm" data-toggle="modal" id="sign"
                                        data-target="#myModal_supervisor" th:if="${purchaseOrderGrid.validityCode}"><i class="fa fa-edit "></i>署名
                                </button>
                                <!-- 模态框（Modal） -->
                                <div class="modal fade" id="myModal_supervisor" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">
                                                    &times;
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel_supervisor">
                                                    确认署名吗</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>署名人为：$('#user-name').val()</label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">关闭
                                                </button>
                                                <button type="button" id="sign-confirm" class="btn btn-primary">确认</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
                <!--附属表-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<div class="table-responsive">-->
                    <!--<table class="table ">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="text-align: center">-->
                                <!--客户合同-->
                            <!--</th>-->
                            <!--<th style="text-align: center">-->
                                <!--送货单-->
                            <!--</th>-->
                            <!--<th style="text-align: center">-->
                                <!--对账单-->
                            <!--</th>-->
                            <!--<th style="text-align: center">-->
                                <!--补货单-->
                            <!--</th>-->
                            <!--<th style="text-align: center">-->
                                <!--换货单-->
                            <!--</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td style="text-align: center">-->
                                <!--<a href="#">查看</a>-->
                            <!--</td>-->
                            <!--<td style="text-align: center">-->
                                <!--<a href="#">查看</a>-->
                            <!--</td>-->
                            <!--<td style="text-align: center">-->
                                <!--<a href="#">查看</a>-->
                            <!--</td>-->
                            <!--<td style="text-align: center">-->
                                <!--<a href="#">查看</a>-->
                            <!--</td>-->
                            <!--<td style="text-align: center">-->
                                <!--<a href="#">查看</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div th:if="${purchaseOrderGrid.validityCode}" class="panel panel-default">
            <div class="panel-heading">
                公告区
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="5" readonly="readonly"></textarea>
                    <table class="table">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td>
                                <input class="form-control"/>
                            </td>
                            <td>
                                <btn class="btn btn-primary">发送</btn>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                操作记录
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center">时间</th>
                            <th style="text-align: center">操作人</th>
                            <th style="text-align: center">句柄</th>
                            <th style="text-align: center">原因</th>
                            <th style="text-align: center">内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">2018-04-20 12:35:00</td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">xxx</td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">开始生产</td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">无</td>
                            <td th:style="(${purchaseOrderGrid.validityCode})?'text-align: center':'TEXT-DECORATION: line-through;text-align: center;color:red'">JY180004批次开始生产</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<script th:src="@{/js/custom-scripts.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/bootstrap-datetimepicker.js}"
        charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"
        charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/page-js/market_plate_purchase_order_dtl.js}"></script>

<!--<script th:include="nav_bar::nav-script"></script>-->
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
</body>
</html>
