<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home Page</title>

    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap-datepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select2/css/select2.min.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default top-navbar" role="navigation" th:include="nav_bar::top-nav"></nav>
<nav class="navbar-default navbar-side" role="navigation" th:include="nav_bar::side-nav"></nav>

<div id="wrapper">

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                生产指令单单管理
                <small>指令单明细</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">主页</a>
                </li>
                <li>
                    <a href="#">生产部门</a>
                </li>
                <li class="active">板材生产</li>
            </ol>

        </div>

        <div id="page-inner">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        基础信息
                        <small style="color: red;" th:if="!${productOrderDtlGrid.validity}">该订单已作废</small>
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th style="text-align: center">订单号</th>
                                <th style="text-align: center">品名</th>
                                <th style="text-align: center">机台</th>
                                <th style="text-align: center">指令单号</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center">
                                    <small th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'"
                                           th:href="@{/market/purchase_order/2dtl(purchaseNum=${productOrderDtlGrid.purchaseNum})}"
                                           th:text="${productOrderDtlGrid.purchaseNum}">
                                    </small>
                                </td>
                                <td style="text-align: center">
                                    <small th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'"
                                           th:text="${productOrderDtlGrid.patternName}"></small>
                                </td>
                                <td style="text-align: center">
                                    <small th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'"
                                           th:text="|${productOrderDtlGrid.machineNum}号机|"
                                           th:value="${productOrderDtlGrid.machineNum}" id="machine-num"></small>
                                </td>
                                <td style="text-align: center">
                                    <small th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'"
                                           id="product-num" th:text="${productOrderDtlGrid.productNum}"></small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">产品规格明细</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th style="text-align: center">序号</th>
                                    <th style="text-align: center">颜色</th>
                                    <th style="text-align: center">长(mm)</th>
                                    <th style="text-align: center">宽(mm)</th>
                                    <th style="text-align: center">高(mm)</th>
                                    <th style="text-align: center">进度</th>
                                    <th style="text-align: center">估重/kg</th>
                                    <th style="text-align: center">批号</th>
                                    <!--<th style="text-align: center" th:if="${productOrderDtlGrid.checked}" style="background-color: green">操作</th>-->
                                    <th style="text-align: center"
                                        th:if="${productOrderDtlGrid.checked == true and productOrderDtlGrid.validity == true}">
                                        操作
                                    </th>
                                    <th style="text-align: center"
                                        th:if="${productOrderDtlGrid.checked == true and productOrderDtlGrid.validity == true}">
                                        附属单
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="table-body">
                                <tr th:each="spec,iterStat : ${productOrderSpecGrids}"
                                    th:style="(${productOrderDtlGrid.validity})?((${spec.stateCode}==-1)? 'background-color:#F5F5F5':((${spec.stateCode}==0)? 'background-color:#FF3333' : 'background-color:#00FF00')) : ''">
                                    <td th:text="${iterStat.index+1}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">Onions</td>
                                    <th th:text="${spec.colorName}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">Onions</th>
                                    <td th:text="${spec.length}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">2.41</td>
                                    <td th:text="${spec.width}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">2.41</td>
                                    <td th:text="${spec.thickness}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">2.41</td>
                                    <td th:text="|${spec.completedAmount}/${spec.requiredAmount}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"></td>
                                    <td th:text="${spec.estimateWeight}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">2.41</td>
                                    <td id="batch-num" th:text="${spec.batchNum}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">2.41</td>
                                    <td style="text-align: center"
                                        th:if="${productOrderDtlGrid.checked == true and productOrderDtlGrid.validity == true}">
                                        <btn class="btn btn-info" th:if="${spec.stateCode} == -1" onclick="occupyMachine(-1,$(this).parent().parent().find('#batch-num').eq(0).text());
                                        insertPackingForm($(this).parent().parent().find('#batch-num').eq(0).text());">
                                            开始
                                        </btn>
                                        <btn class="btn btn-success" th:if="${spec.stateCode} == 0"
                                             onclick="occupyMachine(0,$(this).parent().parent().find('#batch-num').eq(0).text());">
                                            继续
                                        </btn>
                                        <btn class="btn btn-warning" th:if="${spec.stateCode} == 1"
                                             onclick="releaseMachine(1,$(this).parent().parent().find('#batch-num').eq(0).text());">
                                            暂停
                                        </btn>
                                    </td>
                                    <td id="extension" style="text-align: center"
                                        th:if="${spec.stateCode ==1 and productOrderDtlGrid.validity == true}">
                                        <a th:href="@{/product/plate/packing_form/2dtl(batchNum=${spec.batchNum})}">装箱单</a>
                                        <a>质检单</a>
                                    </td>
                                    <td id="total-price" style="text-align: center"
                                        th:if="${spec.stateCode !=1 and productOrderDtlGrid.validity == true}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        生产工艺
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th style="text-align: center;width: 130px">颜色</th>
                                    <th style="text-align: center;width: 120px">计量泵转速</th>
                                    <th style="text-align: center;width: 120px">色母转速</th>
                                    <th style="text-align: center;width: 250px">色母配方</th>
                                    <th style="text-align: center;width: 150px">用膜</th>
                                    <th style="text-align: center;width: 100px">压纹</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"><a th:text="${plateCraftDtlGrid.colorName}">V28蓝色</a>
                                    </th>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${plateCraftDtlGrid.meteringPumpRevs}">22转
                                    </td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${plateCraftDtlGrid.masterBatchRevs}">22转
                                    </td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${plateCraftDtlGrid.masterBatchBrand}">22转
                                    </td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${plateCraftDtlGrid.membraneName}">22转</td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${plateCraftDtlGrid.embossingName}">22转</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        质量要求
                    </div>
                    <div class="panel-body">
                        <small>
                        </small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        核审
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th style="text-align: center">主管审批</th>
                                    <th style="text-align: center">接收人</th>
                                    <th style="text-align: center" th:if="${productOrderDtlGrid.validity}">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align: center">
                                        <label th:text="${productOrderDtlGrid.approvorName}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"></label>
                                    </td>
                                    <td style="text-align: center">
                                        <label th:text="${productOrderDtlGrid.receiverName}" th:style="(${productOrderDtlGrid.validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"></label>
                                    </td>
                                    <td style="text-align: center" th:if="${productOrderDtlGrid.validity}">

                                        <button th:if="!${productOrderDtlGrid.begin}" class="btn btn-primary btn-sm"
                                                data-toggle="modal"
                                                data-target="#myModal_selection" id="select_machine_and_commander"><i
                                                class="fa fa-edit "></i>选择机台和机长
                                        </button>
                                        <!-- 模态框（Modal） -->
                                        <div class="modal fade" id="myModal_selection" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel_selection">
                                                            确认署名吗</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>
                                                            <div class="form-group col-sm-6">
                                                                <label>机长选择：</label>
                                                                <select class="form-control" id="receiver-name">
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-sm-6">
                                                                <label>机台选择：</label>
                                                                <select class="form-control" id="select_machine-num">
                                                                    <option value="2">2号机</option>
                                                                    <option value="3">3号机</option>
                                                                    <option value="4">4号机</option>
                                                                    <option value="5">5号机</option>
                                                                    <option value="6">6号机</option>
                                                                    <option value="7">7号机</option>
                                                                    <option value="8">8号机</option>
                                                                    <option value="9">9号机</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="button" id="select_machine_and_commander-confirm"
                                                                class="btn btn-primary" onclick="sign()">
                                                            确认
                                                        </button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row" th:if="${productOrderDtlGrid.validity}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        公告区
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" readonly="readonly"></textarea>
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control"/>
                                    </td>
                                    <td>
                                        <btn class="btn btn-primary">发送</btn>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        操作记录
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="text-align: center">时间</th>
                                    <th style="text-align: center">操作人</th>
                                    <th style="text-align: center">句柄</th>
                                    <th style="text-align: center">原因</th>
                                    <th style="text-align: center">内容</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'">2018-04-20 12:35:00</td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'">xxx</td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'">开始生产</td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'">无</td>
                                    <td th:style="(${productOrderDtlGrid.validity})?'text-align: center':'color:red;TEXT-DECORATION: line-through;text-align: center'">JY180004批次开始生产</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<script th:src="@{/js/custom-scripts.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/bootstrap-datetimepicker.js}"
        charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"
        charset="UTF-8"></script>
<script th:src="@{/bootstrap-select2/js/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/page-js/product_plate_product_order_dtl.js}"></script>
</html>