<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>批次装箱清单</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap-datepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/bootstrap3-editable/css/bootstrap-editable.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap-select2/css/select2.min.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-default top-navbar" role="navigation" th:include="nav_bar::top-nav"></nav>
<nav class="navbar-default navbar-side" role="navigation" th:include="nav_bar::side-nav"></nav>

<div id="wrapper">
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                板材生产指令单管理
                <small>批次装箱清单明细</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">主页</a>
                </li>
                <li>
                    <a href="#">生产部门</a>
                </li>
                <li class="active">板材生产</li>
            </ol>

        </div>

        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            基础信息
                            <small style="color: red;" th:if="!${validity}">该订单已作废</small>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th style="text-align: center">订单号</th>
                                    <th style="text-align: center">颜色</th>
                                    <th style="text-align: center">批次</th>
                                    <th style="text-align: center">规格</th>
                                    <th style="text-align: center">装箱单号</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"
                                        th:text="${packingFormDtlGrid.purchaseNum}">JY18008
                                    </td>
                                    <td th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"
                                        th:text="${packingFormDtlGrid.colorName}">大飞欧
                                    </td>
                                    <td th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"
                                        id="batch-num"
                                        th:text="${packingFormDtlGrid.batchNum}">2018-04-22
                                    </td>
                                    <td th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"
                                        th:text="${packingFormDtlGrid.size}">2018-05-05
                                    </td>
                                    <td th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'"
                                        id="packing-num"
                                        th:text="${packingFormDtlGrid.packingNum}">Z000001
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="col-sm-8" th:if="${packingFormDtlGrid.weighingListEmpty}">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">捆数选择</span>
                                    <select id="bundle-select" class="form-control">
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4" th:if="${packingFormDtlGrid.weighingListEmpty}">
                                <div class="form-group">
                                    <button class="btn btn-primary" data-toggle="modal"
                                            data-target="#myModal_bundle" onclick="$('#modal-body-bundle').empty();
                                            $('#modal-body-bundle').append('捆数为：' + $('#bundle-select').children('option:selected').val() + '\n\n生成后将无法修改！');
                                            ">以该捆数生成装箱页
                                    </button>
                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="myModal_bundle" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel_bundle">确认生成装箱单页</h4>
                                                </div>
                                                <div class="modal-body" id="modal-body-bundle">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="button" class="btn btn-primary" onclick="generateWeighingList($('#batch-num').text(),
                                                    $('#bundle-select').children('option:selected').val())">确认
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal -->
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" th:if="!${packingFormDtlGrid.weighingListEmpty}">
                                <table class="table table-bordered  table-condensed scrolltable">
                                    <thead>
                                    <tr>
                                        <th style="width: 60px;text-align:center">序号</th>
                                        <th style="width: 100px;text-align:center">数量/张</th>
                                        <th style="width: 110px;text-align:center">重量/kg</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-finished">
                                    <tr th:each="spec,iterStat : ${finishedDtlGrids}">
                                        <td class="index" th:style="(${validity})?'text-align: center;width:50px':'width:50px;text-align: center;color:red;TEXT-DECORATION: line-through'"
                                            th:text="${spec.index}"></td>
                                        <td class="quantity" th:style="(${validity})?'text-align: center;width:110px':'width:110px;text-align: center;color:red;TEXT-DECORATION: line-through'"
                                            th:text="${spec.key}"></td>
                                        <td class="" style="width: 110px;text-align: center">
                                            <label th:if="!${validity}" th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${spec.value}"></label>
                                            <input th:if="${validity}" th:value="${spec.value}" class="form-control input-sm weight"
                                                   onchange="if(checkInputable($(this))){setWeighingData($('#packing-num').text(),$(this).parent().prev().prev().text(),$(this).parent().prev().text(),$(this).val());setWeighingListColor();totalWeighingAmount();}
                                                            else {alert('无法跨行输入有效数值');$(this).val(0);}"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td style="text-align: center">合计</td>
                                        <td style="text-align: center" id="total-weighing-qty"></td>
                                        <td id="total-weighing-amount" style="text-align: center"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-primary btn-sm" id="add-waste" onclick="addWaste()" th:if="${validity}">
                                <i class="fa fa-plus ">添加条目</i>
                            </button>
                            废品记录
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th style="width: 100px;text-align:center">序号</th>
                                            <th style="width: 100px;text-align:center">废品名</th>
                                            <th style="width: 100px;text-align:center">废品量/kg</th>
                                            <th style="width: 50px;text-align:center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody-waste">
                                        <tr th:each="spec,iterStat : ${wasteDtlGrids}">
                                            <td th:style="(${validity})?'text-align: center;width:50px':'width:50px;text-align: center;color:red;TEXT-DECORATION: line-through'" class="index"
                                                th:text="${spec.index}"></td>
                                            <td style="text-align: center">
                                                <label th:if="!${validity}" th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${spec.key}"></label>
                                                <input th:if="${validity}" class="form-control input-sm quantity" th:value="${spec.key}"
                                                       onchange="setWasteData($('#packing-num').text(),$(this).parent().parent().find('.index').eq(0).text(),$(this).val(),$(this).parent().parent().find('.weight').eq(0).val());setWasteListColor();totalWasteAmount()"/>
                                            </td>
                                            <td style="text-align: center">
                                                <label th:if="!${validity}" th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${spec.value}"></label>
                                                <input th:if="${validity}" class="form-control input-sm weight" th:value="${spec.value}"
                                                       onchange="setWasteData($('#packing-num').text(),$(this).parent().parent().find('.index').eq(0).text(),$(this).parent().parent().find('.quantity').eq(0).val(),$(this).val());setWasteListColor();totalWasteAmount()"/>
                                            </td>
                                            <td style="text-align: center">
                                                <button class="btn btn-danger btn-sm" onclick="removeWaste($(this))" th:if="${validity}">删除
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="2" style="text-align: center">合计</td>
                                            <td id="total-waste-amount"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button class="btn btn-primary btn-sm" onclick="addInventory()" th:if="${validity}">
                                <i class="fa fa-plus ">添加条目</i>
                            </button>
                            库存记录
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th style="width: 100px;text-align:center">序号</th>
                                            <th style="width: 100px;text-align:center">数量/张</th>
                                            <th style="width: 100px;text-align:center">重量/kg</th>
                                            <th style="width: 50px;text-align:center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody-inventory">
                                        <tr th:each="spec,iterStat : ${inventoryDtlGrids}">
                                            <td th:style="(${validity})?'text-align: center;width:50px':'width:50px;text-align: center;color:red;TEXT-DECORATION: line-through'" class="index" th:text="${spec.index}"></td>
                                            <td style="text-align: center">
                                                <label th:if="!${validity}" th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${spec.key}"></label>
                                                <input th:if="${validity}" class="form-control input-sm quantity" th:value="${spec.key}"
                                                       onblur="setInventoryData($('#packing-num').text(),$(this).parent().parent().find('.index').eq(0).text(),$(this).val(),$(this).parent().parent().find('.weight').eq(0).val())"/>
                                            </td>
                                            <td style="text-align: center">
                                                <label th:if="!${validity}" th:style="(${validity})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'" th:text="${spec.value}"></label>
                                                <input th:if="${validity}" class="form-control input-sm weight" th:value="${spec.value}"
                                                       onblur="setInventoryData($('#packing-num').text(),$(this).parent().parent().find('.index').eq(0).text(),$(this).parent().parent().find('.quantity').eq(0).val(),$(this).val())"/>
                                            </td>
                                            <td style="text-align: center">
                                                <button class="btn btn-danger btn-sm"
                                                        onclick="removeInventory($(this))" th:if="${validity}">删除
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td style="text-align: center">合计</td>
                                            <td style="text-align: center" id="total-inventory-qty"></td>
                                            <td id="total-inventory-amount"></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <tr>
                                <th style="text-align:center">操作</th>
                            </tr>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th style="text-align: center"></th>
                                    <th style="text-align: center"></th>
                                    <th style="text-align: center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="text-align: center">

                                        <button th:if="${validity}" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#myModal_shift"><i
                                                class="glyphicon glyphicon-transfer"></i>交接班
                                        </button>
                                        <!-- 模态框（Modal） -->
                                        <div class="modal fade" id="myModal_shift" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel_shift">
                                                            交接班署名，署名之后，当班次当批次入库结算完成。</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group col-sm-10">
                                                            <div class="form-group-sm col-sm-4">
                                                                班长
                                                                <select id="select_monitor" class="form-control">
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-sm-4">
                                                                机长
                                                                <select id="select_commander" class="form-control">
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-sm-4">
                                                                检验
                                                                <select id="select_inspector" class="form-control">
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-sm-4">
                                                                记录
                                                                <select id="select_recorder" class="form-control">
                                                                </select>
                                                            </div>
                                                            <div class="form-group-sm col-sm-4">
                                                                班组
                                                                <select id="select_workgroup" class="form-control">
                                                                    <option value="1">甲一</option>
                                                                    <option value="2">甲二</option>
                                                                    <option value="3">乙一</option>
                                                                    <option value="3">乙二</option>
                                                                    <option value="3">丙一</option>
                                                                    <option value="3">丙二</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="button" id="shift-confirm" class="btn btn-primary"
                                                                onclick="shift()">确认
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal -->
                                        </div>

                                    </td>
                                    <td style="text-align: center">
                                        <button class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#myModal_supervisor"><i
                                                class="glyphicon glyphicon-floppy-save "></i>打印
                                        </button>
                                        <!-- 模态框（Modal） -->
                                        <div class="modal fade" id="myModal_supervisor" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel_supervisor">
                                                            交接班署名，署名之后，当班次当批次入库结算完成。</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        署名人为：xxx
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">关闭
                                                        </button>
                                                        <button type="button" class="btn btn-primary">确认</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td th:if="${validity}" style="text-align: center">
                                        <btn class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-check "></i>提交
                                        </btn>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <tr>
                                <th style="text-align:center">打印记录</th>
                            </tr>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">时间</th>
                                        <th style="text-align: center">操作人</th>
                                        <th style="text-align: center">句柄</th>
                                        <th style="text-align: center">原因</th>
                                        <th style="text-align: center">内容</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:style="(${validityCode})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">2018-04-20 12:35:00</td>
                                        <td th:style="(${validityCode})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">xxx</td>
                                        <td th:style="(${validityCode})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">开始生产</td>
                                        <td th:style="(${validityCode})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">无</td>
                                        <td th:style="(${validityCode})?'text-align: center':'text-align: center;color:red;TEXT-DECORATION: line-through'">JY180004批次开始生产</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<script th:src="@{/js/custom-scripts.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/bootstrap-datetimepicker.js}"
        charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap-datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"
        charset="UTF-8"></script>
<script type="text/javascript" th:src="@{/bootstrap3-editable/js/bootstrap-editable.js}"
        charset="UTF-8"></script>
<script th:src="@{/bootstrap-select2/js/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/page-js/product_plate_packing_form_dtl.js}"></script>
</body>
</html>